@import url("./profile-base.css");

body {
    --theme-primary: #0284c7;
    --theme-primary-dark: #075985;
    --theme-secondary: #06b6d4;
    --theme-soft: #f0f9ff;
    --theme-radius: .65rem;
    --theme-shadow: 0.06;
}
